includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - src/DynamicSimpleCache.php
        - src/SimpleCache.php
    ignoreErrors:
        - '#Cannot call method add\(\) on DateTime\|false.#'
